.mainPage {
    background-color: #f9f7ff;
}
.headTitle {
    text-align:left;
    font-weight:bold;
}

.horList {
    display: flex;
    flex-wrap: wrap;
}

.disabledColor {
  color: #cfcfcf;
}

.top_breadcrumb {
  margin: 4px 0 4px;
  border: 1px solid #e5e5e5;
  padding: 4px 0 4px 4px;
  background-color: #f8f8f8;
}
